.page-header {
    
    background-color: #333333;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin: 0;
    float: left;
}
.footer {
    
    background-color: #333333;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.footer h1, .footer h1 a, .footer h1 a:visited, .footer h1 a:active .footer p{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin: 0;
    float: left;
}

.sidewindow ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.sidewindow li {
  float: right;
}
.sidewindow li a {
     display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
   
}

.sidewindow li a:hover{
      background-color: #111111;
}
.up ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF4530;
}

.up li {
  float: right;
}
.up li a {
     display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
   
}

.up li a:hover{
      background-color: #FF1A00;
}
 

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 ,h1 pre{
    font-family: 'Lobster', cursive;
    font-size :30px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}