{% extends 'base.html' %} 

{% block content %}
 <br >
 <h1><pre>    My Forum </pre> </h1>  <hr>
{% for text in texts %}
    <div>
        
        <p> <b> {{text.author}}</b> : {{ text.message}}</p>
        
        {% if text.img %}
         <img src="{{ text.img.url }}"  style="height:auto; width: 300px; margin-left : 10px;" /> 
        {% endif %}
  
        <p style="color: #828282; "><font size="-1"> :{{ text.date }} </font></p>
    </div>

{% endfor %}
<br>
   <br>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
       <button float =right type="submit" class="save btn btn-default">Save</button>
{% endblock %}